<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_SEGP_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=SEGP;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>